<h1 class="text-center my-4 display-4 font-weight-bold text-black">Listado de clientes</h1>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Usuario</th>
      <th>Rol</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.username }}</td>
      <td>{{ cliente.rol }}</td>
      <td>
        <button (click)="confirmarEliminacion(cliente.id)">❌ Eliminar</button>
        <button><a href="/editar-cliente/{{ cliente.id }}">✏️ Editar</a></button>
      </td>
    </tr>
  </tbody>
</table>
