<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-4">
        <h2 class="text-center mb-4">Registro</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="p-4">
          <div class="mb-3">
            <label for="nombre" class="form-label fw-bold">Nombre:</label>
            <input type="text" formControlName="nombre" class="form-control" id="nombre"
              placeholder="Ingresa tu nombre">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label fw-bold">Email:</label>
            <input type="email" formControlName="email" class="form-control" id="email"
              placeholder="Ingresa tu correo electrónico">
          </div>

          <div class="mb-3">
            <label for="telefono" class="form-label fw-bold">Teléfono:</label>
            <input type="text" formControlName="telefono" class="form-control" id="telefono"
              placeholder="Ingresa tu teléfono">
          </div>

          <div class="mb-3">
            <label for="username" class="form-label fw-bold">Username:</label>
            <input type="text" formControlName="username" class="form-control" id="username"
              placeholder="Elige un nombre de usuario" (input)="verificarUsuario()">
            <p *ngIf="usernameEnUso" class="text-danger mt-2">❌ Este nombre de usuario ya está en uso</p>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label fw-bold">Contraseña:</label>
            <input type="password" formControlName="password" class="form-control" id="password"
              placeholder="Crea una contraseña segura">
          </div>

          <div class="mb-3">
            <label for="confirmPassword" class="form-label fw-bold">Confirmar contraseña:</label>
            <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword"
              placeholder="Repita su contraseña">
              <p *ngIf="passwordsNoCoinciden" class="text-danger mt-2">❌ Las contraseñas no coinciden</p>
          </div>
          <button type="submit" class="btn btn-warning w-100" [disabled]="usernameEnUso">Registrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
