<h2>Lista de Pedidos</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Plato</th>
      <th>Fecha</th>
      <th>Total</th>
      <th *ngIf="authService.isAdmin()">Cliente</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pedido of pedidos">
      <td>{{ pedido.id }}</td>
      <td>{{ pedido.nombrePlato }}</td>
      <td>{{ pedido.fecha | date:'dd/MM/yyyy' }}</td>
      <td>{{ pedido.total }}</td>
      <td *ngIf="authService.isAdmin()">{{ pedido.clienteNombre || 'Cargando...' }}</td>
    </tr>
  </tbody>
</table>
