<h1 class="text-center my-4 display-4 font-weight-bold text-black">Lista de tus pedidos</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Plato</th>
      <th>Fecha</th>
      <th>Total</th>
      <th *ngIf="authService.isAdmin()">Cliente</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pedido of pedidos">
      <td>{{ pedido.id }}</td>
      <td>{{ pedido.platoNombre }}</td>
      <td>{{ pedido.fecha | date:'dd/MM/yyyy' }}</td>
      <td>{{ pedido.total }} €</td>
      <td *ngIf="authService.isAdmin()">{{ pedido.clienteNombre || 'Cargando...' }}</td>
    </tr>
  </tbody>
</table>
