.platos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.plato-card {
  border-radius: 16px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}

.precio {
  font-weight: bold;
  font-size: 1.2rem;
  color: #43a047;
}
